.sidebar-module.sidebar-module-inset
  %h4 关于
  %p
    跟着阅读记单词，制作个性化的阅读书目的单词卡片，让单词不再孤单。
.sidebar-module
  %h4 标签
  = render :partial => 'books/tag', layout: 'layouts/layout'
.sidebar-module
  %h4 英语分级书查询
  %ol.list-unstyled
    %li
      %a{:href => "https://www.lexile.com/fab/", :target => "_blank"} Lexile
    %li
      %a{:href => "http://www.scholastic.com/parents/", :target => "_blank"} Scholastic
.sidebar-module
  %h4 参考文章
  %ol.list-unstyled
    %li
      %a{:href => "http://mp.weixin.qq.com/s?__biz=MjM5MDQzODAyMA==&mid=203613437&idx=1&sn=9d5d0a6a9b4a165294ab0ac0bd9f56dd", :target => "_blank"} 分级阅读的重要性
    %li
      %a{:href => "http://mp.weixin.qq.com/s?__biz=MjM5MDQzODAyMA==&mid=2651799514&idx=1&sn=20488609689cb96c18283e4522410745", :target => "_blank"} 小乐的单词学习
    %li
      %a{:href => "http://mp.weixin.qq.com/s?__biz=MjM5MDQzODAyMA==&mid=210338866&idx=1&sn=0bfd0e33f9d103d6410cccf14fd916e0", :target => "_blank"} 单词记忆曲线
