%h1 把人当人
%p 重读《水浒传》，感觉徒增了厌恶之情。四大名著中，我本来就最不喜欢《水浒传》，这次带着不同的思考角度去看，更觉得水浒就是一本大男子主义小说。
%p 水浒中，从来不把女人当人。像潘金莲和阎婆惜，都是被一刀杀死，我们还看得连连叫好。潘金莲就算了，她毕竟谋杀亲夫。但阎婆惜呢？我觉得宋江没有理由杀她。阎婆惜只是威胁宋江要告密给官府，因为他私通“匪徒”。站在阎婆惜的立场，梁山泊众人就是匪徒，是政府的敌人，她这样做难道不对吗？而宋江一怒之下杀了她，不就像是强盗被人发现，被抓到把柄后杀人灭口吗？没天理的是宋江！还有宋江让扈三娘嫁给王英，他有没有问过扈三娘的意见？他只是为了自己所谓的“江湖义气”，擅自决定了亲事，他有什么权利这样做？这不是跟山大王逼迫良家妇女做压寨夫人是一个性质吗？而梁山泊众“好汉”还“皆喜”？还称贺宋江乃“有德有义”之士？我都要被恶心到了！宋江根本没有考虑过扈三娘的幸福，他只想保住自己有德有义的形象，在他心里，扈三娘根本不算是个有权利的人，他不把女人当人。
%p 在他们攻打青州时，把慕容知府一家老幼全杀了。这我又有疑问了，有错的只是那个知府呀！跟他家的老小有什么关系？这又跟皇帝的“诛九族”有什么区别？他们枉称“好汉”，连有罪和无罪都分不出来吗？那些老人和小孩都是无辜的，可就这样被他们打着“正义”的名号杀死，这难道是一件应该称道的事吗？
%p 我讨厌《水浒传》，因为这本书不把人当人，全书流露着大男子主义，而没有给女人、受害者等做人的权利。
