/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  .navbar-nav.pull-left > li { float: left; }
  .navbar-nav.pull-right > li { float: left; }

  .form-inline .form-group input {
    width: 300px;
  }
}

/*
 * Override Bootstrap's default container.
 */
@media(max-width:543px) {
  .container {
    width: 260px;
  }
}
@media(min-width:544px) {
  .container {
    width: 400px;
  }
}
@media(min-width:768px) {
  .container {
    width: 640px;
  }
}
@media(min-width:992px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.date select.date.form-control {
  width: auto;
  display: inline-block;
}
